@use '../../../styles/variables' as *;
@use "sass:color";

.login-container {
  height: 100vh;
  background: linear-gradient(90deg, $color-primary-light, $color-primary-dark);
}

.login-card {
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 750px;
  width: 100%;
}

.left-panel {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .text-welcome {
    color: $color-text-dark;
    font-size: 2rem;
    font-weight: 700;
  }

  .logo {
    width: 80%;
    max-width: 280px;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease, filter 0.3s ease;

    &:hover {
      transform: scale(1.05);
      filter: brightness(1.05);
    }
  }
}

/* Adaptaci칩n m칩vil */
@media (max-width: 768px) {
  .left-panel {
    .logo {
      width: 60%;
      max-width: 200px;
      margin-top: 1rem;
    }
    .text-welcome {
      font-size: 1.5rem;
    }
  }
}

/* Adaptaci칩n pantallas peque침as */
@media (max-width: 480px) {
  .left-panel {
    padding: 1rem 0;

    .logo {
      width: 70%;
      max-width: 180px;
    }
  }
}

.right-panel {
  flex: 1 1 50%;
  background-color: rgba(255, 255, 255, 0.7);
}

.text-login {
  color: $color-text-dark;
}

.btn-login {
  background-color: $color-green-dark;
  color: white;
  font-weight: bold;
  border: none;

  &:hover {
    background-color: color.adjust($color-green-dark, $lightness: -5%);
  }
}
